<h2 class="section-title">{{ .titles.speakers }}</h2>

<ul class="speakers-list">
{{ range .speakers }}
  <li class="speakers-item" itemprop="performer" itemscope itemtype="http://schema.org/Person">
    {{ with .image }}
      <span class="speaker-photo">
        <img class="photo" src="/img/{{ . }}" alt="{{ $.name }}" itemprop="image">
      </span>
    {{ end }}

    <h3 class="speakers-name">
      {{ with .link }}
        <a href="{{ . }}" target="_blank" itemprop="url">{{ $.name }}</a>
      {{ else }}
        {{ .name }}
      {{ end }}
    </h3>

    {{ with .company }}
      <h4 class="speakers-company" itemprop="affiliation">{{ . }}</h4>
    {{ end }}

    {{ with .twitter }}
      <a class="speakers-twitter" href="https://twitter.com/{{ . }}" target="_blank">@{{ . }}</a>
    {{ end }}

    <p class="speakers-bio" itemprop="description">{{ .bio }}</p>
  </li>
{{ end }}
</ul>
