<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">According to Dijkstra, "if debugging is the
process of removing bugs, programming must be the process of putting
them there". In a notoriously challenging area as Distributed Systems,
where bugs lead to serious failures, avoiding the introduction of bugs
during system development is critical. Recent large-scale crashes
caused by faulty system updates, as well as bugs in Decentralised
Applications (DApps, typically running on Blockchains) that have
enabled the diversion of vast amounts of funds from organisations
relying on smart contracts, clearly demonstrate the need for solutions
that produce safe, sound, and resilient systems as automatically as
possible. Formal methods, a direct by-product of Logic in Computer
Science, have been providing foundations, approaches, and tools to
support the ambitious goal of constructing correct-by-construction
distributed systems and DApps. </p>

<p> The goal of the workshop is to gather researchers and
practitioners working in these foundational approaches, methods, and
tools, leveraging, on one hand, the results of the TaRDIS project
concerning swarm-like systems and, on the other hand, auto-active
reasoning principles and platforms applied to decentralised
distributed systems and applications. <!-- We expect that many of the FLoC -->
<!-- participants, namely several of those attending CAV, FSCD, IJCAR, ITP, -->
<!-- and LICS, will be interested in the workshop topics, as these -->
<!-- conferences often publish work in the areas of interest to this -->
<!-- workshop. --> </p>

<p> The workshop will be an opportunity to present ongoing and recent
research, possibly published or presented elsewhere, and to discuss in
more depth the challenges and results, compare approaches and tools,
and engage with experts in the field. </p>
